body {
  height: 100%;
  background-image: url(../img/backgroundwhite.png);
  font-family: "Edu VIC WA NT Beginner", cursive "Roboto", sans-serif; }
  body header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 100; }
    body header .container-fluid {
      top: 0;
      font-family: 'DynaPuff', cursive;
      font-style: italic;
      color: antiquewhite;
      padding-bottom: 20px; }
    body header .bg-color-navbar {
      background-color: #bc9cf9;
      color: #cdd3d8; }
    body header .dropdown-menu {
      background-color: #bc9cf9; }
  body .texto {
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding: 15px; }
  body .titulo2 {
    grid-area: titulo2;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 2rem;
    padding: 25px; }
  body footer {
    text-align: center;
    font-style: italic; }

.titulo3 {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
  padding: 2px; }

.titulo4 {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
  padding: 2px; }

.mision {
  text-align: center;
  font-weight: bold;
  font-size: 0.7rem;
  font-style: italic;
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;
  padding: 15px; }

.vision {
  text-align: center;
  font-weight: bold;
  font-size: 0.7rem;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  padding: 15px; }

 
  #headerProductos {
      width: 100%;
      height: 80px;  
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: bold;
      color: #3b0a73;  
      font-size: 2rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .header-buscador-marco {
      height: 45px;
      border: 1px solid #CCCCCC;
      width: 100%;
      border-radius: 6px;
      display: flex;
      justify-content:center;
      align-items: center;  
      padding-left: 25px;
      padding-right: 15px;
  }
  
  .header-buscador-marco input{
      width: 90%;
      height: 30px;
      border: 0;
      
  }
  
  .header-buscador-marco input:focus{
      border: 0;
  }

.h1200 {
    height: 1200px;
}
.h200 {
    height: 200px;
}
.h60 {
    height: 60px;
}

.w-20 {
    width: 20%;
}
.w-60 {
    width: 60%;
}
.w-80 {
    width: 80%;
}
.h-150 {
    height: 150px;
}
  
  .iconos {
      display: flex;
      flex-direction: row;
  } 
  
  .producto h3 {
      font-size: 1.5rem;
      color: #274092;
  }
  
  .precio {
      font-size: 2rem;
  }
  
  #iconoCarrito {
      font-size: 2.5rem;
      color: #3b0a73;
  }
  #badgeCarrito {
      display: flex;
      align-items: left;
      justify-content: left;
      padding: 7px;
      font-size: 0.7rem;
      background-color: #000 !important;
  }
  
  .offcanvas {
      margin-top: 95px;
      border-radius: 10px;
  }
  
  .main {
      margin-top: 100px;
  }
  

.titulo_redes {
  text-align: center;
  font-size: 0.8rem;
  padding: 10px; }

.instagram {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 5px;
  font-weight: bold; }

.facebook {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 5px;
  font-weight: bold; }

.formulario {
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.titulo_formulario {
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-size: 1.1rem; }

.formulario_textbox {
  text-align: center; }

.titulo_formulario_interno {
  text-align: center;
  padding: 10px; }

.botones_form {
  display: flex;
  padding: 10px;
  justify-content: space-evenly; }

@media screen and (min-width: 600px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo2 titulo2"
 "imagen-uno texto-uno"
 "imagen-dos texto-dos"
 "imagen-tres texto-tres";
    justify-content: center;
    align-items: center;
    justify-items: center;
    column-gap: 1rem; }
    main .boton-final {
      display: block; }
    main .titulo {
      font-size: 1.6rem; }
    main header nav ul li {
      font-size: 0.9rem; }
    main .titulo2 {
      font-size: 1.4rem; }
    main .texto-uno {
      font-size: 1.2rem; }
    main .texto-dos {
      font-size: 1.2rem; }
    main .texto-tres {
      font-size: 1.2rem; }
    main .texto-cuatro {
      font-size: 1.2rem; }
    main .texto-cinco {
      font-size: 1.2rem; }
    main .texto-seis {
      font-size: 1.2rem; }
    main .titulo_redes {
      font-size: 0.9rem; }
    main .titulo_formulario {
      font-size: 1.3rem; } }

@media screen and (min-width: 1024px) {
  main {
    padding-left: 200px;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    grid-template-areas: "titulo2 titulo2 titulo2"
 "imagen-uno imagen-dos imagen-tres"
 "texto-uno texto-dos texto-tres";
    justify-content: center;
    align-items: center;
    justify-items: center; }
    main .titulo {
      font-size: 2.2rem; }
    main header nav ul li {
      font-size: 1.4rem;
      padding: 10px;
      margin: 10px; }
    main .titulo2 {
      font-size: 1.8rem;
      margin: 20px; }
    main .texto-uno {
      font-size: 1.4rem; }
    main .texto-dos {
      font-size: 1.4rem; }
    main .texto-tres {
      font-size: 1.4rem; }
    main .texto-cuatro {
      font-size: 1.4rem; }
    main .texto-cinco {
      font-size: 1.4rem; }
    main .texto-seis {
      font-size: 1.4rem; }
    main .titulo_redes {
      font-size: 1.1rem; }
    main .titulo_formulario {
      font-size: 1.8rem; }
  section .titulo2 {
    font-size: 1.8rem;
    margin: 40px; }
  section .texto {
    font-size: 4rem;
    margin: 40px; }
  section .titulo3 {
    font-size: 2.4rem;
    margin: 40px; }
  section .mision {
    font-size: 1.8rem;
    margin: 40px; }
  section .titulo4 {
    font-size: 2.4rem;
    margin: 40px; }
  section .vision {
    font-size: 1.8rem; } }
