@import "base/mapas";
@import "base/variables";
@import "base/mixin";
@import "base/extend";

body{

    height: 100%;
    background-image: $background-image;
    font-family: $fuentes;


    header{

        @include medidas(50px,80px);
        position: sticky;
        top: 0;


        .container-fluid{
            top: 0;
            font-family: 'DynaPuff', cursive;
            font-style: italic;
            color: antiquewhite;
            padding-bottom: 20px;
        }
        .bg-color-navbar{
            background-color: rgb(188, 156, 249);
            color: rgb(205, 211, 216);
        }
        .dropdown-menu{
            background-color: rgb(188, 156, 249);
        }
    }

    .texto{
        text-align: center;
        font-weight: bold;
        font-size: 0.8rem;
        font-style: italic;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
        padding: 15px;
    }

    .titulo2{
        grid-area: titulo2;
        text-align: center;
        font-weight: bold;
        font-size: 1.1rem;
        line-height: 2rem;
        padding: 25px;
    }

    footer{
        text-align: center;
        font-style: italic;
    }
}

.titulo3{

    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    padding: 2px;

}

.titulo4{

    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    padding: 2px;

}

.mision{

    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding: 15px;

}

.vision{

    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding: 15px;

}

main{

    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: 
                        "titulo2" 
                        "imagen-uno"
                        "texto-uno"
                        "imagen-dos"
                        "texto-dos"
                        "imagen-tres"
                        "texto-tres";
    
    justify-content: center;
    align-items: center;
    justify-items: center;

    .imagen-uno{
        grid-area: imagen-uno;
    }
    
    .top{
        position: relative;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }
    
    .bottom{
        position: absolute;
    }
    
    .imagen-uno img.top:hover{
        opacity: 0;
    }
    
    .imagen-dos{
        grid-area: imagen-dos;
        padding: 15px;
    }
    
    .imagen-dos img.top:hover{
        opacity: 0;
    }
    
    .imagen-tres{
        grid-area: imagen-tres;
        padding: 15px;
    }
    
    .imagen-tres img.top:hover{
        opacity: 0;
    }

    .imagen-cuatro{
        grid-area: imagen-cuatro;
        padding: 15px;
    }
    
    .imagen-cuatro img.top:hover{
        opacity: 0;
    }

    .imagen-cinco{
        grid-area: imagen-cinco;
        padding: 15px;
    }
    
    .imagen-cinco img.top:hover{
        opacity: 0;
    }

    .imagen-seis{
        grid-area: imagen-seis;
        padding: 15px;
    }
    
    .imagen-seis img.top:hover{
        opacity: 0;
    }
    
    .texto-uno{
        grid-area: texto-uno;
        padding: 15px;
        left: 1;
        text-align: center;
        font-weight: bold;
    
    }
    
    .texto-dos{
        grid-area: texto-dos;
        padding: 15px;
        font-weight: bold;
        text-align: center;
    }
    
    .texto-tres{
        grid-area: texto-tres;
        padding: 15px;
        font-weight: bold;
        text-align: center;
    }

    .texto-cuatro{
        grid-area: texto-cuatro;
        padding: 15px;
        font-weight: bold;
        text-align: center;
    }

    .texto-cinco{
        grid-area: texto-cinco;
        padding: 15px;
        font-weight: bold;
        text-align: center;
    }

    .texto-seis{
        grid-area: texto-seis;
        padding: 15px;
        font-weight: bold;
        text-align: center;
    }

}

.titulo_redes{
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
}

.instagram{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 5px;
        font-weight: bold;
      
}

.facebook{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
  
}

.formulario{
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titulo_formulario{
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-size: 1.1rem;
}

.formulario_textbox{
    text-align: center;
}

.titulo_formulario_interno{
    text-align: center;
    padding: 10px;
}

.botones_form{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

@media screen and (min-width: 600px){

    main{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:        
                            "titulo2 titulo2"
                            "imagen-uno texto-uno"
                            "imagen-dos texto-dos"
                            "imagen-tres texto-tres"


                            ;

        justify-content: center;
        align-items: center;
        justify-items: center;            
        column-gap: 1rem;

        .boton-final{
            display: block;
        }
    
        .titulo{
            font-size: 1.6rem;
        }
    
        header nav ul li{
            font-size: 0.9rem;
        }
    
        .titulo2{
            font-size: 1.4rem;
        }
    
        .texto-uno{
            font-size: 1.2rem;
        }
    
        .texto-dos{
            font-size: 1.2rem;
        }
        .texto-tres{
            font-size: 1.2rem;
        }
        .texto-cuatro{
            font-size: 1.2rem;
        }
        .texto-cinco{
            font-size: 1.2rem;
        }
        .texto-seis{
            font-size: 1.2rem;
        }
    
        .titulo_redes{
            font-size: 0.9rem;
        }
    
        .titulo_formulario{
            font-size: 1.3rem;
    
        }
    }

}

@media screen and (min-width: 1024px){
    

    main{
        padding-left: 200px;
        grid-template-columns: 1.5fr 1.5fr 1.5fr;
        grid-template-areas:        
                            "titulo2 titulo2 titulo2"
                            "imagen-uno imagen-dos imagen-tres"
                            "texto-uno texto-dos texto-tres"


                            ;

        justify-content: center;
        align-items: center;
        justify-items: center;

            
        .titulo{
            font-size: 2.2rem;
        }
    
        header nav ul li{
            font-size: 1.4rem;
            padding: 10px;
            margin: 10px;
        }
    
        .titulo2{
            font-size: 1.8rem;
            margin: 20px;
        }
    
        .texto-uno{
            font-size: 1.4rem;
        }
    
        .texto-dos{
            font-size: 1.4rem;
        }
        .texto-tres{
            font-size: 1.4rem;
    
        }

        .texto-cuatro{
            font-size: 1.4rem;
    
        }

        .texto-cinco{
            font-size: 1.4rem;
    
        }

        .texto-seis{
            font-size: 1.4rem;
    
        }
    
        .titulo_redes{
            font-size: 1.1rem;
        }
    
        .titulo_formulario{
            font-size: 1.8rem;
    
        }
  
    }

    section{

        .titulo2{
            font-size: 1.8rem;
            margin: 40px;
        }

        .texto{
            font-size: 4rem;
            margin: 40px;
        }

        .titulo3{
            font-size: 2.4rem;
            margin: 40px;
        }

        .mision{
            font-size: 1.8rem;
            margin: 40px;
        }

        .titulo4{
            font-size: 2.4rem;
            margin: 40px;
        }

        .vision{
            font-size: 1.8rem;
            
        }

    }

    }